body {
  <meta name="viewport" content="width=device-width, initial-scale=1">
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.navbar {
  overflow: hidden;
  background-color: #333; 
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: red;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: red;
  width: 100%;
  z-index: 1;
}
.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;


form.example input[type=text] {
  padding: 40px;
  font-size: 50px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: red;
}


body
{
  margin: 0;
  padding: 0;
}
.header
{
  height:100vh;
  background-image: linear-gradient (rgba(0,0,0,0.7), rgba(0,0,0,.7);
    background-size: cover;
    background position: center;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family;
}
h1
{
  text-align: center;
  color: #fff;
  margin-buttom: 70px;
  font-size: 45px;
  letter-spacing: 2px; 
}
span
{
  color: red;
}
.search-field
{
  height: 50px;
  padding: 10px;
}

.header {
  border: 2px solid black;
  display: inline-block;
  text-align: center;
}

.skills
{
  width: 400px;
}
.location
{ 
  width: 200px;
}

.search-btn
{
  height: 50px;
  width: 150px;
  background: #f44336;
  border: none;
  color: #fff;
}
.search-btn: hover 
{
  background: #bb0d00;
  cursor: pointer;
}
.form-box
{
  background: rgba(255,255,255,0.5);
  padding: 30px 50px;
}

}