{% extends "layout.html" %}
{% block content %}
<h1>Admin</h1>
<h2>Franchises</h2>
<h2>Reservations</h2>
<ul>
  <li>todays reservations</li>
  <p id="current"></p>
  <li>future reservations</li>
  <p id="future"></p>
</ul>
<h2>Add new Franchise</h2>
<ol>
  <form method="post" action="/admin">
  	<div class="form-group">
      <label for="hn">New Hotel Name</label>
      <input type="text" name="hn" class="form-control" id="hn">
    </div>
    <div class="form-group">
      <label for="loci">i Value for New Location</label>
      <input type="number" name="loci" class="form-control" id="loci">
    </div>
    <div class="form-group">
      <label for="locj">j Value for New Location</label>
      <input type="number" name="locj" class="form-control" id="locj">
    </div>
    <div class="form-group">
      <label for="cs">Number of Cheap Suites</label>
      <input type="number" name="cs" class="form-control" id="cs">
    </div>
    <div class="form-group">
      <label for="pc">Price of Cheap Suites</label>
      <input type="number" name="pc" class="form-control" id="pc">
    </div>
    <div class="form-group">
      <label for="es">Number of Expensive Suites</label>
      <input type="number" name="es" class="form-control" id="es">
    </div>
    <div class="form-group">
      <label for="pe">Price of Expensive Suites</label>
      <input type="number" name="pe" class="form-control" id="pe">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</ol>
<script>
   
</script>
{% endblock content%}
